[Desktop Entry]
Name=Debian-CUM
Comment=CPU Usage Manager for Debian
Exec=debian-cum
Icon=debian-cum
Terminal=false
Type=Application
Categories=Utility;
